.progress-container {
    position: relative;
    width: 990px;
    margin: 0 auto;
}

/* Progress bar styles */
.progress__container {
    width: 100%;
    height: 5px;
}

.progress__container_showing .progress__bar {
    display: block;
}

.progress__bar {
    display: none;
    height: 5px;
    background-color: #53b4ca;
    width: 0;
}
